.row-register-page {
    
    .logo-ct-bank {
        background: linear-gradient(to top, rgb(9, 51, 99), rgb(18, 135, 202));
        .img-logo-ctbank-big {
            width: 100%;
            height: 100%;
            background-image: url(/images/logoCTBankBig.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 80%;
        }
    }
    .form-register {
        height: 100%;
        min-height: 400px;
        .img-decor-form-register {
            position: absolute;
            right: 2.5%;
            bottom: 3.5%;
            width: 180px;
            height: 180px;
            background-image: url(/images/iconDecor1.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            p {
                position: absolute;
                width: 155px;
                top: 96.5%;
                left: 50%;
                transform: translateX(-50%);
                color: rgb(75,75,75);
                font-size: 13px;
                font-weight: 600;
                font-family: 'Noto Sans', sans-serif;
            }
        }
        .form-register-content {
            position: relative;
            text-align: center;
            .btn-back-register-form {
                position: absolute;
                top: 10px;
                left: 25px;
                color: rgb(18, 135, 202);
                border: 0;
                background: transparent;
                font-size: 24px;
                font-family: 'Noto Sans', sans-serif;
            }
            .header-form-register-content {
                .title-welcome {
                    color: rgb(17, 84, 161);
                    font-size: 2.5rem;
                    font-weight: 600;
                    font-family: 'Noto Sans', sans-serif;
                }
                .title-signup {
                    font-size: 1rem;
                    font-weight: 500;
                    color: rgb(100,100,100);
                    font-family: 'Noto Sans', sans-serif;
                    a {
                        font-weight: 600;
                        border-bottom: 1px solid;
                    }
                }
            }
            form {
                width: 530px;
                margin: 0 auto;
                .form-group-register {
                    text-align: left;
                    .form-register-label {
                        margin-left: 6px;
                        font-size: 18px;
                        font-weight: 600;
                        color: rgb(100,100,100);
                        font-family: 'Noto Sans', sans-serif;
                    }
                    .form-register-input {
                        font-size: 14px;
                        font-family: 'Noto Sans', sans-serif;
                        border: 1.5px solid #ced4da;
                    }
                }
                .form-group-checkbox {
                    text-align: left;
                    .form-group-checkbox-rememberme-label {
                        color: rgb(100,100,100);
                        font-size: 12px;
                        font-family: 'Noto Sans', sans-serif;
                    }
                }
                
                .btn-continue-register-form {
                    position: relative;
                    color: #fff;
                    font-family: 'Noto Sans', sans-serif;
                    width: 100%;
                    min-width: 280px;
                    max-width: 530px;
                    background-color: rgb(18, 135, 202);
                    i.arrow {
                        position: absolute;
                        top: 50%;
                        right: 15px;
                        transform: translateY(-50%);
                    }
                    i.shield {
                        position: absolute;
                        top: 50%;
                        left: 10px;
                        transform: translateY(-50%);
                    }
                }
            }
        }
    }
}

.loading-animation {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150px;
    height: 150px;
    font-size: 40px;
    color: rgb(18, 135, 202);
    animation: 1.35s linear infinite loading;
}

.runaway {
    animation: runaway 0.7s forwards;
}

.comein {
    animation: comein 0.7s forwards;
}

@keyframes loading {
    0% {
      transform: translate(-50%, -50%) rotate(0);
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes runaway {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(-65%);
    }
}

@keyframes comein {
    from {
        opacity: 0;
        transform: translateX(65%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}